<h1>Chat Comunitario 70110</h1>

<input type="text" id="chatBox">

<p id="messagesLogs"></p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/main.js"></script>