<h1>Hola mundo, estoy en Express-Handlebars</h1>

<h2> Listado de Usuarios </h2>

<ul id="lista-usuarios"></ul>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/main.js"></script>