<h2>Aca tenes que mostrar todos los productos en tiempo real </h2>

<div id="contenedorProductos"></div>

<h2> Agreguen un formulario que envie un producto </h2>

<form id="idLoco" action="">

</form>

{{!-- Agreguen aca el cdn de Socket.io --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/main.js"></script>