{{!-- Practicamos con Ciclos --}}

{{#each arrayProductos}}
    <div>
        <h3> Nombre: {{this.nombre}} </h3>
        <p> Descripcion: {{this.descripcion}} </p>
        <p> Precio: {{this.precio}} </p>
        <button> Comprar </button>
    </div>
{{/each}}